<ion-header  class="ion-no-border">
  <ion-toolbar>
    <ion-buttons routerLink="/home" slot="start">
      <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    

  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">

    <img src="assets/icon/Logo.jpeg" />
    <h1>Sign Up</h1>

  </div>

  <form id="form">
    <app-input placeholder="Matric No"></app-input>
    <app-input placeholder="Phone Number"></app-input>
    <app-input placeholder="Create a password"></app-input>
    <app-input placeholder="Confirm Password"></app-input>
    <ion-button color="primary" expand="block" shape="round"> Login </ion-button>
  </form>



</ion-content>
